/* Import matugen colors */
@import "colors.css";

* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 13px;
}

/* Modules */
.modules-left {
    border-radius: 8px;
    background-color: @surface_container;
    padding: 0px 8px;
    margin: 4px 0px 4px 4px;
}

.modules-center {
    border-radius: 8px;
    background-color: @surface_container;
    padding: 0px 8px;
    margin: 4px 0px 4px 4px;
}

.modules-right {
    border-radius: 8px;
    background-color: @surface_container;
    padding: 0px 8px;
    margin: 4px 4px 4px 0px;
}

/* Left Module Specifics */
#workspaces {
    margin: 4 0 4 0;
    border-radius: 8px;
}

#workspaces button {
    background-color: @surface_container;
    color: @primary;
}

#workspaces button:hover {
    background: @on_primary;
    border: none;
    transition: all 1s ease;
}

#workspaces button.focused {
    color: @primary;
}

#workspaces button.active {
    color: @surface_container;
    background-color: @primary;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.urgent {
    background-color: @error;
    color: @surface_container;

}

window#waybar {
    background: transparent;
    background-color: transparent;
    color: @secondary;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#clock {
    background-color: @surface_container;
    color: @primary;
    border-radius: 14px;
    padding: 0 12 0 12;
}

#clock:hover {
    background-color: @surface_container_high;
}

#cpu {
    padding: 0px 4px;
    transition: all .3s ease;
    color: @primary;
}

#memory {
    padding: 0px 4px;
    transition: all .3s ease;
    color: @secondary;
}

#pulseaudio-slider {
    padding: 0;
    margin: 0;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background: @surface;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: @primary;
}
