/* Import matugen colors */
@import "colors.css";

* {
    font-family: "JetBrainsMono NF", "Icomoon-Feather", "Noto Color Emoji";
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    border-radius: 12px;
    background-color: @surface_container_low;
    padding: 0px 6px;
    margin: 2px 5px;
    border: 1px solid @outline_variant;
}

/* --- WORKSPACES --- */
#workspaces button {
    color: @on_surface_variant;
    padding: 0 8px;
    margin: 2px 2px;
    border-radius: 8px;
}

#workspaces button.active {
    background-color: @primary;
    color: @on_primary;
    min-width: 35px;
    box-shadow: 0px 0px 10px @primary;
}

/* --- CPU & MEMORY (Neu strukturiert) --- */
#cpu,
#memory {
    padding: 0 8px;
    margin: 2px 3px;
    background-color: @surface_container_high;
    border-radius: 6px;
    border: 1px solid @outline_variant;
}

#cpu {
    color: @tertiary;
}

#memory {
    color: @secondary;
}

#clock {
    color: @primary;
    background-color: transparent;
    padding: 0 10px;
    margin: 2px 4px;
    border-radius: 8px;

}

#clock:hover {
    background-color: @primary;
    color: @on_primary;
    transition: all 0.3s ease;
}

#custom-weather {
    color: @primary;
    background-color: transparent;
    padding: 0 10px;
    margin: 2px 4px;
    border-radius: 8px;
}

#custom-weather:hover {
    background-color: @primary;
    color: @on_primary;
    transition: all 0.3s ease;
}

/* --- POWER MENU --- */
#custom-powermenu {
    color: @error;
    background-color: @surface_container_high;
    border: 1px solid @error;
    border-radius: 8px;
    /* Margin von 4px auf 2px reduziert, um die Bar-Höhe nicht zu sprengen */
    margin: 2px 2px 2px 5px;
    padding: 0 10px;
}

#custom-powermenu:hover {
    background-color: @error;
    color: @on_error;
}

/* --- PULSEAUDIO & SLIDER --- */
#pulseaudio {
    color: @primary;
    padding-right: 5px;
}

#pulseaudio-slider trough {
    min-height: 4px;
    /* Dünner wirkt edler */
    min-width: 70px;
    border-radius: 5px;
    background-color: @surface_variant;
    /* Margin von 8px auf 2px reduziert -> Das ist der Hauptgrund für die Höhe */
    margin: 2px 0;
}

#pulseaudio-slider highlight {
    border-radius: 5px;
    background-color: @primary;
}
