dotfiles/qutebrowser/.config/qutebrowser/qsettings/
dotfiles/qutebrowser/.config/qutebrowser/bookmarks
dotfiles/qutebrowser/.config/qutebrowser/qsettings/
dotfiles/qutebrowser/.config/qutebrowser/bookmarks/
