* {
    background:     #12140e;
    foreground:     #e2e3d8;
    surface:        #12140e;
    surface-high:   #282b24;
    on-surface:     #e2e3d8;
    
    primary:        #b1d18a;
    on-primary:     #1f3701;
    primary-container: #344e16;
    
    secondary:      #bfcbad;
    error:          #ffb4ab;
    
    border-color:   @primary;
    selected-color: @primary;
    selected-fg:    @on-primary;
}
